@font-face{
  font-family: "pannel_fonts";
  src:url('BYekan.eot') format('eot') ,
       url('BYekan.ttf') format('ttf') ,
        url('BYekan.woff') format('woff')  ;
}
body{
  font-family: "pannel_fonts";
  background: #f4f4f4;
}

/* navbar*/
.navbar{
  min-height: 33px !important;
  margin-bottom:0;
  border-radius: 0;
}

.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}
/*custom*/
.main-color-bg{
  background-color: #e74c3c !important;
  border-color: #c0392b !important;
  color: #ffffff !important;
}

/*header*/
#header{
  background: #333333;
  color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
#header .create{
  padding-top: 20px;
}

/*breadcrumb*/
.breadcrumb{
  color: #333333;
  background: #cccccc;
}
.breadcrumb a{
  color: #333333;
}

.dash-box{
  text-align: center;
}


#footer{
  background: #333333;
  color: #ffffff;
  text-align: center;
  padding: 30px;
  margin-top: 30px;

}

#submit1{
  margin-top: 60px;
}
#inlineCheckbox1{
  margin-top: 25px;
}
#inlineCheckbox2{
  margin-top: 20px;
}
#rowForm{
  margin-top: 10px;
  margin-bottom: 15px;
}

#login{
  margin-top: 30px;
}
#AddButton{
  float: left;
  color:white;
  margin-bottom: 10px;
  margin-left: 20PX;
}

#reportBut{
  float: left;
  margin-bottom: 10px;
}
#titleHavaleh{
  text-align: center;
}
#titleHavaleh2{
  text-align: center;
}
#printBut{
  float: left;
  color: black;
  margin-bottom: 10px;
  background: darkgrey;
}
#return{
  float: left;
  margin-bottom: 10px;
  background: lightgrey;
  color: black;
  margin-left: 3px;
}
#panelBody{
  margin-bottom: 110px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}
